<template>
  <div class="gap-3 pb-8 px-2">
    <!-- <ul class="contact px-7 py-4 text-[16px] leading-10 w-[30vw] border">
        <div class="">
          <h1 class="font-bold text-3xl text-center mt-2 mb-8">Kontakt</h1>
        </div>
        <li class="flex justify-start items-start">
          <p class="font-semibold w-[8vw]">Adresse:</p>
          <p class="w-[14vw]">Grüner Graben 1, 67655 Kaiseerslautern</p>
        </li>
        <li class="flex justify-start items-center">
          <p class="font-semibold w-[8vw]">Tel:</p>
          <p class="w-[14vw]">+49 151 1515115</p>
        </li>
        <li class="flex justify-start items-center">
          <p class="font-semibold w-[8vw]">E-Mail:</p>
          <p class="w-[14vw]">barberamania@gmail.com</p>
        </li>
      </ul> -->

    <div class="h-[80vh]">
      <iframe
        src="https://maps.app.goo.gl/7FLqpxpo6J7jssb47"
        style="border: 0"
        aria-hidden="true"
        tabindex="0"
        class="border map"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</template>

<script setup lang="ts"></script>
