<template>
  <div
    class="flex justify-center items-start gap-36 bg-slate-900 text-white py-10"
  >
    <ul class="flex flex-col gap-2">
      <li class="text-2xl font-semibold my-4"><a href="#">Kontakt</a></li>
      <li class=""><a href="#">Kunden-Hilfe</a></li>
      <li>
        <button type="button" class="bn46">
          <a href="#"
            ><img
              class="bn46"
              src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
              alt="bn46"
          /></a>
        </button>
      </li>
      <li>
        <button type="button">
          <a href="#" tabIndex="0"
            ><img
              class="bn45"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png"
              alt="bn45"
          /></a>
        </button>
      </li>
    </ul>

    <ul class="flex flex-col gap-2">
      <li class="text-2xl font-semibold my-4 text-slate-300">Entdecke</li>
      <li><a href="#">Barmeramania Guide</a></li>
      <li><a href="#">User Blog</a></li>
      <li><a href="#">Barberamania Geschenkgutschein</a></li>
      <li><a href="#">Newsletter Anmeldung</a></li>
    </ul>

    <ul class="flex flex-col gap-2">
      <li class="text-2xl font-semibold my-4 text-slate-300">
        Geschäftspartner
      </li>
      <li><a href="#">Partner werden</a></li>
      <li><a href="#">Connect Help Center</a></li>
      <li><a href="#">Pro Help Center</a></li>
    </ul>

    <ul class="flex flex-col gap-2">
      <li class="text-2xl font-semibold my-4 text-slate-300">Unternehmen</li>
      <li><a href="#">Über uns</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Impressum</a></li>
      <li><a href="#">Cookie-Einstellungen</a></li>
    </ul>
  </div>
</template>

<script setup lang="ts"></script>
